/* 
    @name: icon
    @overview: icon
    @author: xuchen
*/
/* line 10, icon.less */
.i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../../images/lib/icon.png") no-repeat;
}
/* line 19, icon.less */
.i-search-a {
  background-position: 0 0;
}
/* line 22, icon.less */
.i-search-b {
  background-position: 0 -40px;
}
/* line 30, icon.less */
.i-set-a {
  background-position: 0 -20px;
}
/* line 37, icon.less */
.i-close-a {
  background-position: -20px 0;
}
/* line 40, icon.less */
.i-close-b {
  background-position: -20px -20px;
}
/* line 43, icon.less */
.i-close-c {
  background-position: -20px -40px;
}
/* line 46, icon.less */
.i-close-d {
  background-position: -20px -60px;
}
/* line 54, icon.less */
.i-delete-a {
  background-position: -60px -20px;
}
/* line 61, icon.less */
.i-sort {
  display: inline-block;
  width: 7px;
  height: 8px;
  background: url("../../images/lib/sort-icon.gif") no-repeat;
}
/* line 65, icon.less */
.i-sort-down-a {
  background-position: 0 0;
}
/* line 68, icon.less */
.i-sort-down-b {
  background-position: 0 -8px;
}
/* line 71, icon.less */
.i-sort-up-a {
  background-position: -7px 0;
}
/* line 74, icon.less */
.i-sort-up-b {
  background-position: -7px -8px;
}
