/* line 2, popup-login.less */
.module-popup-login {
  display: none;
  z-index: 10101;
  width: 450px;
  padding-bottom: 10px;
  border: 1px solid #ff7700;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 6px #cacaca;
  -webkit-box-shadow: 0 0 6px #cacaca;
  box-shadow: 0 0 6px #cacaca;
}
/* line 9, popup-login.less */
.module-popup-login a.popup-close {
  position: absolute;
  right: -16px;
  top: -16px;
  width: 32px;
  height: 32px;
  background: url("../images/tpls/popup-login.png") no-repeat 0 -64px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
/* line 14, popup-login.less */
.module-popup-login a.popup-close:hover {
  background-position: 0 -64px;
}
/* line 18, popup-login.less */
.module-popup-login .popup-tit {
  width: 410px;
  height: 50px;
  padding: 0;
  margin: 0 auto;
  background: none;
  background-color: #ffffff;
  border-bottom: 1px solid #ff7700;
  font: 500 18px/50px "Microsoft YaHei";
  color: #ff7700;
}
/* line 27, popup-login.less */
.module-popup-login .popup-con {
  width: 320px;
  padding: 0;
  margin: 30px auto 0;
}
/* line 31, popup-login.less */
.module-popup-login .text {
  position: relative;
  z-index: 10;
  width: 300px;
  height: 34px;
  margin: 0 auto 25px;
  border: 1px solid #cccccc;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 38, popup-login.less */
.module-popup-login .text-error {
  border: 1px solid #ff7700;
  -moz-box-shadow: 0 0 3px #ff7700;
  -webkit-box-shadow: 0 0 3px #ff7700;
  box-shadow: 0 0 3px #ff7700;
}
/* line 42, popup-login.less */
.module-popup-login .text input {
  width: 290px;
  height: 18px;
  margin: 8px 5px;
  background-color: transparent;
  border: none;
}
/* line 48, popup-login.less */
.module-popup-login .text .error {
  display: none;
  position: absolute;
  left: -1px;
  top: 34px;
  width: 300px;
  height: 20px;
  background: url("../images/tpls/popup-login.png") #fff2f2 no-repeat 0 -102px;
  border: 1px solid #ff8080;
  line-height: 20px;
  text-indent: 25px;
  color: #ff0000;
}
/* line 58, popup-login.less */
.module-popup-login .remember {
  position: relative;
  top: -20px;
  width: 300px;
  height: 14px;
  padding: 10px 0;
  margin: 0 auto;
  line-height: 14px;
  vertical-align: middle;
}
/* line 65, popup-login.less */
.module-popup-login .remember input {
  position: relative;
  top: 3px;
  margin-right: 4px;
}
/* line 69, popup-login.less */
.module-popup-login .popup-btn-wrap {
  position: relative;
  top: -10px;
  width: 314px;
  height: 32px;
  margin: 0 auto;
}
/* line 74, popup-login.less */
.module-popup-login .popup-btn,
.module-popup-login .popup-btn-text {
  height: 32px;
  background: url("../images/tpls/popup-login.png") no-repeat;
  text-decoration: none;
  font: 500 16px/32px "Microsoft YaHei";
  letter-spacing: 10px;
  color: #ffffff;
}
/* line 83, popup-login.less */
.module-popup-login .popup-btn {
  width: 130px;
  padding-right: 12px;
  margin: 0 7px;
  background-position: right 0;
}
/* line 87, popup-login.less */
.module-popup-login .popup-btn:hover {
  background-position: right 0;
}
/* line 89, popup-login.less */
.module-popup-login .popup-btn:hover .popup-btn-text {
  background-position: left 0;
}
/* line 93, popup-login.less */
.module-popup-login .popup-btn:active {
  background-position: right 0;
  outline: 0;
}
/* line 96, popup-login.less */
.module-popup-login .popup-btn:active .popup-btn-text {
  background-position: left 0;
}
/* line 100, popup-login.less */
.module-popup-login .popup-btn-disabled {
  background-position: right 0;
}
/* line 102, popup-login.less */
.module-popup-login .popup-btn-disabled .popup-btn-text {
  background-position: left 0;
}
/* line 105, popup-login.less */
.module-popup-login .popup-btn-disabled:hover {
  background-position: right 0;
}
/* line 107, popup-login.less */
.module-popup-login .popup-btn-disabled:hover .popup-btn-text {
  background-position: left 0;
}
/* line 111, popup-login.less */
.module-popup-login .popup-btn-disabled:active {
  background-position: right 0;
  outline: 0;
}
/* line 114, popup-login.less */
.module-popup-login .popup-btn-disabled:active .popup-btn-text {
  background-position: left 0;
}
/* line 120, popup-login.less */
.module-popup-login .popup-btn-text {
  width: 130px;
  padding-left: 14px;
  margin-left: -3px;
  background-position: left 0;
  vertical-align: top;
}
/* line 126, popup-login.less */
.module-popup-login .popup-btn-wrap .cancel {
  background-position: right -32px;
}
/* line 128, popup-login.less */
.module-popup-login .popup-btn-wrap .cancel:hover {
  background-position: right -32px;
}
/* line 130, popup-login.less */
.module-popup-login .popup-btn-wrap .cancel:hover .popup-btn-text {
  background-position: left -32px;
}
/* line 134, popup-login.less */
.module-popup-login .popup-btn-wrap .cancel:active {
  background-position: right -32px;
  outline: -32px;
}
/* line 137, popup-login.less */
.module-popup-login .popup-btn-wrap .cancel:active .popup-btn-text {
  background-position: left -32px;
}
/* line 141, popup-login.less */
.module-popup-login .popup-btn-wrap .cancel .popup-btn-text {
  background-position: left -32px;
  color: #666666;
}
/* line 146, popup-login.less */
.module-popup-login .confirm-msg {
  position: relative;
  top: -20px;
  color: #ff0000;
}
