/* line 3, btn.less */
.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding-left: 8px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
/* line 11, btn.less */
.btn .btn-text {
  position: relative;
  right: -3px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding-right: 9px;
  color: #fff;
  /* drop down icon */
}
/* line 18, btn.less */
.btn .btn-text .caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  white-space: nowrap;
  content: "";
}
/* line 31, btn.less */
.btn label.btn-text {
  cursor: pointer;
}
/* line 33, btn.less */
.btn label.btn-text .checkbox {
  position: relative;
  margin-right: 5px;
}
/* normal btn  (white) *//* line 40, btn.less */
.btn-normal {
  background: url("../images/lib/btn-white.png") no-repeat left 0px;
}
/* line 42, btn.less */
.btn-normal .btn-text {
  height: 30px;
  line-height: 30px;
  color: #000;
  background: url("../images/lib/btn-white.png") no-repeat right 0px;
}
/* line 47, btn.less */
.btn-normal .btn-text .caret {
  margin: 10px 0 0 5px;
  border-top: 4px solid #000000;
}
/* line 53, btn.less */
.btn-normal label.btn-text .checkbox {
  top: 2px;
}
/* line 57, btn.less */
.btn-normal:hover {
  background-position: left -33px;
}
/* line 59, btn.less */
.btn-normal:hover .btn-text {
  background-position: right -33px;
}
/* line 63, btn.less */
.btn-normal:active {
  background-position: left -66px;
}
/* line 65, btn.less */
.btn-normal:active .btn-text {
  background-position: right -66px;
}
/* btn-small *//* line 71, btn.less */
.btn-small {
  font-size: 12px;
  line-height: 15px;
  padding-left: 5px;
  background: url("../images/lib/small-btn-white.png") no-repeat left 0px;
}
/* line 76, btn.less */
.btn-small .btn-text {
  height: 24px;
  line-height: 24px;
  color: #000;
  padding-right: 5px;
  background: url("../images/lib/small-btn-white.png") no-repeat right 0px;
}
/* line 82, btn.less */
.btn-small .btn-text .caret {
  margin: 10px 0 0 2px;
  border-top: 4px solid #000000;
}
/* line 88, btn.less */
.btn-small label.btn-text .checkbox {
  top: 3px;
}
/* line 92, btn.less */
.btn-small:hover {
  background-position: left -27px;
}
/* line 94, btn.less */
.btn-small:hover .btn-text {
  background-position: right -27px;
}
/* line 98, btn.less */
.btn-small:active {
  background-position: left -54px;
}
/* line 100, btn.less */
.btn-small:active .btn-text {
  background-position: right -54px;
}
/* btn-big *//* line 106, btn.less */
.btn-big {
  font-size: 16px;
  line-height: 25px;
  background: url("../images/lib/big-btn-white.png") no-repeat left 0px;
}
/* line 110, btn.less */
.btn-big .btn-text {
  height: 35px;
  line-height: 35px;
  color: #000;
  background: url("../images/lib/big-btn-white.png") no-repeat right 0px;
}
/* line 115, btn.less */
.btn-big .btn-text .caret {
  margin: 12px 0 0 5px;
  border-top: 4px solid #000000;
}
/* line 120, btn.less */
.btn-big:hover {
  background-position: left -38px;
}
/* line 122, btn.less */
.btn-big:hover .btn-text {
  background-position: right -38px;
}
/* line 126, btn.less */
.btn-big:active {
  background-position: left -76px;
}
/* line 128, btn.less */
.btn-big:active .btn-text {
  background-position: right -76px;
}
/* line 134, btn.less */
.disable-normal {
  background-position: left -99px;
  cursor: default;
}
/* line 137, btn.less */
.disable-normal .btn-text {
  background-position: right -99px;
}
/* line 141, btn.less */
.disable-normal:hover {
  background-position: left -99px;
}
/* line 143, btn.less */
.disable-normal:hover .btn-text {
  background-position: right -99px;
}
/* line 147, btn.less */
.disable-normal:active {
  background-position: left -99px;
}
/* line 149, btn.less */
.disable-normal:active .btn-text {
  background-position: right -99px;
}
/* line 154, btn.less */
.disable-small {
  cursor: default;
  background-position: left -81px;
}
/* line 157, btn.less */
.disable-small .btn-text {
  background-position: right -81px;
}
/* line 160, btn.less */
.disable-small:hover {
  background-position: left -81px;
}
/* line 162, btn.less */
.disable-small:hover .btn-text {
  background-position: right -81px;
}
/* line 166, btn.less */
.disable-small:active {
  background-position: left -81px;
}
/* line 168, btn.less */
.disable-small:active .btn-text {
  background-position: right -81px;
}
/* line 173, btn.less */
.disable-big {
  cursor: default;
  background-position: left -114px;
}
/* line 176, btn.less */
.disable-big .btn-text {
  background-position: right -114px;
}
/* line 179, btn.less */
.disable-big:hover {
  background-position: left -114px;
}
/* line 181, btn.less */
.disable-big:hover .btn-text {
  background-position: right -114px;
}
/* line 185, btn.less */
.disable-big:active {
  background-position: left -114px;
}
/* line 187, btn.less */
.disable-big:active .btn-text {
  background-position: right -114px;
}
