/* btn-base-基本样式*/
.btn {
  display: inline-block;
  padding-left: 4px;
  margin-right: 10px;
  background: url("../images/lib/btn.png") no-repeat 0 0;
}
.btn input {
  vertical-align: middle;
}
.btn .btn-text {
  display: inline-block;
  padding: 1px 12px 2px 10px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: url("../images/lib/btn.png") no-repeat 0 0;
}
.btn .btn-text .caret {
  margin-left: 5px;
}
.btn-yellow {
  display: inline-block;
  padding-left: 4px;
  margin-right: 10px;
  background: url("../images/lib/btn.png") no-repeat 0 -71px;
}
.btn-yellow .btn-text {
  display: inline-block;
  padding: 1px 12px 2px 10px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: url("../images/lib/btn.png") no-repeat right -94px;
}
.btn-yellow .btn-text input {
  vertical-align: middle;
  margin-right: 5px;
}
.btn-yellow:hover {
  background-position: 0 -71px;
}
.btn-yellow:hover .btn-text {
  background-position: right -94px;
}
.btn-white {
  display: inline-block;
  padding-left: 4px;
  margin-right: 10px;
  background: url("../images/lib/btn.png") no-repeat left -25px;
}
.btn-white .btn-text {
  display: inline-block;
  padding: 1px 12px 2px 10px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: url("../images/lib/btn.png") no-repeat right -48px;
  color: #333333;
}
.btn-white .btn-text input {
  vertical-align: middle;
  margin-right: 5px;
}
.btn-white:hover {
  background-position: left -25px;
}
.btn-white:hover .btn-text {
  background-position: right -48px;
}
